* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color1: #bedbb2;
    --bg-color2: #e7f2c5;
    --bg-color3: #fefccf;
    --bg-color4: #fffae9;
    --txt-color: #000;
    --small-line: #fff;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-image: linear-gradient(var(--bg-color1), var(--bg-color2));
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--txt-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.logo:hover{
    cursor: pointer;
}

.navbar a {
    position: relative;
    font-size: 1.2rem;
    color: var(--txt-color);
    font-weight: 500;
    margin-right: 4rem;
    padding: 1rem;
    border-radius: 2rem;
}
.navbar a:hover{
    background-color: var(--bg-color2);
}

#darkMode-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

#menu-icon{
    font-size: 1.5rem;
    display: none;
}

.introDiv {
    height: 85%;
    background-image: linear-gradient(var(--bg-color2), var(--bg-color3));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introSection {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.introSection h1{
    margin-bottom: 10px;
    font-weight: bolder;
}
.introSection p {
    margin-bottom: 30px;
    font-size: 1.2rem;
    max-width: 80%;
    text-align: center;
}
.introSection p i {
    font-size: 2rem;
}

.cvBtn {
    display: inline-block;
    margin-top: 1.3rem;
    padding: 1.2rem 2.0rem;
    background-color: var(--bg-color1);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem gray;
    color: darkslategrey;
    font-size: 1.1rem;
    font-weight: 700;
    transition: .5s ease;
}
.cvBtn:hover {
    background-color: transparent;
}

#quickLinks {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
#quickLinks a{
    font-size: 2rem;
    color: var(--txt-color);
    display: inline-block;
    background-color: var(--bg-color1);
    border-radius: .9rem;
    padding: .5rem 1.0rem;
    box-shadow: 0 .2rem .5rem gray;
    margin-right: 15px;
    transition: .5s ease;
}
#quickLinks a:hover{
    background-color: transparent;
}

.aboutDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--bg-color3), var(--bg-color4));
    flex-direction: column;
    min-height: 80vh;
    margin: auto;
    padding-bottom: 40px;
}
.aboutDiv h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}
.aboutDiv p {
    max-width: 70%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.aboutDiv i{
    font-size: 1.7rem;
}

.projectsDiv {
    background-image: linear-gradient(var(--bg-color4), var(--bg-color3));
    padding-bottom: 10rem;
    padding-top: 2rem;
}
.projectsDiv h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.projectsDiv p{
    text-align: center;
    font-size: 1.2rem;
    max-width: 75%;
    margin-bottom: 20px;
    margin: auto;
}
.projectsDiv .projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
}
.projectContainer .projectBox{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem gray;
    overflow: hidden;
    height: 40vh;
}
.projectBox img {
    width: 100%;
    transition: .5s ease;
}
.projectBox:hover img{
    transform: scale(1.1);
}
.projectBox .projectLayer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--bg-color1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    opacity: 0;
    transition: .5s ease;
}
.projectBox:hover .projectLayer{
    opacity: 1;
}
.projectLayer h4 {
    font-size: 1.5rem;
    color: #fff;
}
.projectLayer p {
    margin-bottom: 10px;
    color: #fff;
}
.projectLayer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--bg-color3);
    border-radius: 50%;
    transition: .5s ease;
    box-shadow: 0 .2rem .5rem gray;
}
.projectLayer a:hover{
    background-color: var(--bg-color1);
    cursor: pointer;
}
.projectLayer a i {
    font-size: 1.4rem;
}

.contactDiv {
    background-image: linear-gradient(var(--bg-color3), var(--bg-color2));
    padding-bottom: 40px;
}
.contactDiv #contacts {
    margin-bottom: 20px;
}
.contactDiv #contacts i{
    font-size: 1.5rem;
}
.contactDiv h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
.contactDiv p {
    text-align: center;
    font-size: 1.2rem;
    max-width: 75%;
    margin-bottom: 30px;
    margin: auto;
}
.contactDiv form{
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contactDiv form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contactDiv form input,
.contactDiv form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: .6rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem gray;
}
.contactDiv form input{
    width: 49%;
    border: none;
    font-family: "Montserrat", sans-serif;

}
.contactDiv form textarea{
    resize: none;
}
.contactDiv form .formBtn {
    display: inline-block;
    margin-top: 1.3rem;
    padding: 1.2rem 2.0rem;
    background-color: var(--bg-color1);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem gray;
    color: darkslategrey;
    font-size: 1.1rem;
    font-weight: 700;
    transition: .5s ease;
    max-width: 20%;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.contactDiv form .formBtn:hover {
    background-color: transparent;
    border: none;
}

.footer{
    background-image: linear-gradient(var(--bg-color2), var(--bg-color1));
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
}
.footerText p{
    font-size: 1.1rem;
    color: darkslategrey;
    font-weight: bold;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkslategrey;
    font-weight: bold;
}
.footerLinks a {
    margin-right: 1.1rem;
}
.footerLinks a:visited{
    color: darkslategray;
}
.footerLinks p {
    margin-right: 1.1rem;
    font-weight: bold;
}

.iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--bg-color1);
    border-radius: .8rem;
    box-shadow: 0 .2rem .5rem gray;
    transition: .5 ease;
}
.iconTop a:hover{
    background-color: transparent;
}

.iconTop a i {
    font-size: 1.5rem;
    color: darkslategrey;
    font-weight: bold;
}

@media (max-width : 1200px) {
    .introDiv {
        height: 50%;
    }
    .cvBtn{
        padding: 1.4rem 1rem;
        font-size: .9rem;
    }
    #quickLinks {
        margin-top: 5px;
    }

    .aboutDiv{
        min-height: 40vh;
    }

    .projectContainer .projectBox{
        height: 20vh;
    }
    .projectBox .projectLayer{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width : 1024px) {
    .navbar a {
        margin-right: 1rem;
    }
}

@media (max-width : 900px) {
    .navbar a {
        margin-right: .5rem;
    }
    .projectsDiv .projectContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width : 768px) {
    .footer{
        flex-direction: column;
    }
}

